<!DOCTYPE html>
<html>
<head>
  <title>cc</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>

  <!-- Bootstrap CSS -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  <!-- codemirror stylesheets -->
  <link rel="stylesheet" href="/stylesheets/codemirror.css">
  <link rel="stylesheet" href="/stylesheets/eclipse.css">
  <link rel="stylesheet" href="/stylesheets/monokai.css">
</head>

<body id="main">

  <div class="container-fluid">
    <%= yield %>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb"
  crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="/javascripts/codemirror.js"></script>
  <script src="/javascripts/javascript/javascript.js"></script>
  <script src="/javascripts/ruby.js"></script>
  <script src="/javascripts/python.js"></script>
  <script src="/javascripts/javascript.js"></script>
  <script src="/javascripts/sublime.js"></script>

</body>
</html>
